.DS_Store
resources/*
public/*
**/.ipynb_checkpoints
**/reveal.js
content/docs/tutorials/data-exploration-in-r/.Rhistory
content/docs/tutorials/data-exploration-in-r/.Rhistory
content/docs/tutorials/data-preparation/.Rhistory
content/docs/tutorials/version-control/version-control.html
~$**
content/docs/tutorials/data-preparation/songs.csv
*.csv

# Local Netlify folder
.netlify
content/docs/tutorials/workflow/airbnb-workflow copy/.RData
content/docs/tutorials/workflow/airbnb-workflow copy/src/data-preparation/.RData
content/docs/tutorials/workflow/airbnb-workflow copy/src/data-preparation/.Rhistory
content/docs/tutorials/workflow/airbnb-workflow/.RData
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/.RData
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/.Rhistory
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/download.Rout
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/open_assignment.html
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/images/airbnb_expansion.gif
*.gif
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/images/archived_data.png
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/images/dependencies.png
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/images/inside_airbnb.png
