.DS_Store
resources/*
public/*
**/.ipynb_checkpoints
**/reveal.js
content/docs/tutorials/data-exploration-in-r/.Rhistory
content/docs/tutorials/data-exploration-in-r/.Rhistory
content/docs/tutorials/data-preparation/.Rhistory
~$**
content/docs/tutorials/data-preparation/songs.csv
*.csv
.RHistory
# Local Netlify folder
.netlify
content/docs/tutorials/workflow/airbnb-workflow copy/.RData
content/docs/tutorials/workflow/airbnb-workflow copy/src/data-preparation/.RData
content/docs/tutorials/workflow/airbnb-workflow copy/src/data-preparation/.Rhistory
content/docs/tutorials/workflow/airbnb-workflow/.RData
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/.RData
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/.Rhistory
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/download.Rout
content/docs/tutorials/workflow/airbnb-workflow/src/data-preparation/open_assignment.html

content/docs/tutorials/workflow/airbnb-workflow/gen/plots/plot_all.pdf
content/docs/tutorials/workflow/airbnb-workflow/gen/plots/plot_all.pdf
content/docs/tutorials/workflow/airbnb-workflow/gen/plots/plot_Amsterdam.pdf
content/docs/building-blocks/deployment-reporting/rsconnect/shinyapps.io/royklaassebos/dPrep_Demo_Google_Mobility.dcf
content/docs/tutorials/data-preparation/data.zip
slides.md
