/* You can add custom styles here. */

// @import "plugins/numbered";
h1,h2,h3,h4,h5,h6 {
    font-size: 1.0625rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px
}

@media screen and (max-width: 479px) {
    h1,h2,h3,h4,h5,h6 {
        -webkit-hyphens:auto;
        -ms-hyphens: auto;
        hyphens: auto
    }
}

h1,h2 {
    font-family: scala-sans,lato,Arial,sans-serif;
    font-weight: 700
}

h1 {
    font-size: 2.22822rem
}

h2 {
    font-size: 1.7408rem
}

h3 {
    font-size: 1.36rem
}

h4 {
    font-size: 1rem
}

h5,h6 {
    font-size: 0.85rem
}

.tiu-logo {
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap
}

.tiu-logo--horizontal {
    -ms-flex-direction: row;
    flex-direction: row;
    white-space: auto
}

.tiu-logo__mark {
    display: inline-block;
    vertical-align: middle;
    -ms-flex: auto;
    flex: auto
}

@media screen and (min-width: 940px) {
    .tiu-logo__mark {
        width:220px;
        height: 56px
    }
}

.tiu-logo__payoff {
    display: none;
    -ms-flex: auto;
    flex: auto;
    position: relative;
    top: 1px;
    margin: 10px 20px
}

@media screen and (min-width: 940px) {
    .tiu-logo__payoff {
        display:inline-block;
        vertical-align: middle;
        margin-bottom: 0
    }

    .tiu-logo--horizontal .tiu-logo__payoff {
        margin-top: 0
    }
}

.tiu-logo--figurative .tiu-logo__mark {
    display: none
}

.tiu-logo--figurative .tiu-logo__payoff {
    display: inline-block
}

@media screen and (max-width: 1199px) {
    .tiu-logo--figurative .tiu-logo__payoff {
        width:190px;
        height: 17px
    }
}

@media screen and (min-width: 940px) {
    .tiu-logo--figurative .tiu-logo__mark {
        display:inline-block
    }

    .tiu-logo--figurative .tiu-logo__figurative-mark {
        display: none
    }
}

.book-brand {
    border-bottom: 1px solid #ddddd8;
}

.book-brand, .book-search, .book-title {
    margin: -1rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.book-menu nav {
    border-right: 1px solid #ddddd8;
}

.book-menu nav ul li a, .book-menu nav ul li span {
    transition: all .15s ease;
    position: relative;
    display: block;
    padding: 0px 0px 0px 10px;
    line-height: 1.17;
    color: #036;
}

.book-menu nav ul li a:focus, .book-menu nav ul li a:hover {
    color: #000;
    text-decoration: none;
}

.book-menu a.collapsed::after {
    margin-left: 20px;
}
